pkgbase = pentect-bin
	pkgdesc = Local secret masking boundary for AI agents (prebuilt binary)
	pkgver = 0.0.74
	pkgrel = 1
	url = https://github.com/EdamAme-x/pentect
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ca-certificates
	depends = gcc-libs
	depends = glibc
	provides = pentect=0.0.74
	conflicts = pentect
	options = !strip
	source = pentect-LICENSE::https://github.com/EdamAme-x/pentect/releases/download/v0.0.74/LICENSE
	source = pentect-THIRD_PARTY_LICENSES.txt::https://github.com/EdamAme-x/pentect/releases/download/v0.0.74/THIRD_PARTY_LICENSES.txt
	sha256sums = c87936a4168b4cb93850c94a7f98e03e372145df0ecb3c90f7f02cd1a1fed248
	sha256sums = 40efcb8a1fa5b5c81ee5f12e96dcb885d6103225fb8b1b6e64199cd8a98456bb
	source_x86_64 = pentect-0.0.74-x86_64::https://github.com/EdamAme-x/pentect/releases/download/v0.0.74/pentect-linux-x86_64
	sha256sums_x86_64 = 378ebd67c754c1172cac718deec96f6984070a0e02b53b0f50a90250490c96ef
	source_aarch64 = pentect-0.0.74-aarch64::https://github.com/EdamAme-x/pentect/releases/download/v0.0.74/pentect-linux-aarch64
	sha256sums_aarch64 = 6e746f342ce32ccfc0df9ea58a354c798f9cee79471250bfe8657e613f2f288d

pkgname = pentect-bin
