pkgbase = pentect-bin
	pkgdesc = Local secret masking boundary for AI agents (prebuilt binary)
	pkgver = 0.0.86
	pkgrel = 1
	url = https://github.com/EdamAme-x/pentect
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ca-certificates
	depends = gcc-libs
	depends = glibc
	provides = pentect=0.0.86
	conflicts = pentect
	options = !strip
	source = pentect-LICENSE::https://github.com/EdamAme-x/pentect/releases/download/v0.0.86/LICENSE
	source = pentect-THIRD_PARTY_LICENSES.txt::https://github.com/EdamAme-x/pentect/releases/download/v0.0.86/THIRD_PARTY_LICENSES.txt
	sha256sums = c87936a4168b4cb93850c94a7f98e03e372145df0ecb3c90f7f02cd1a1fed248
	sha256sums = e065be42636ccb4a050da7ae8c6eed74839ef52e67148c6b3ec4862cb7e0f947
	source_x86_64 = pentect-0.0.86-x86_64::https://github.com/EdamAme-x/pentect/releases/download/v0.0.86/pentect-linux-x86_64
	sha256sums_x86_64 = a092bcef7da20f4e002659df963a623c38ab09c50e7f761ac1f63785eae5dd5f
	source_aarch64 = pentect-0.0.86-aarch64::https://github.com/EdamAme-x/pentect/releases/download/v0.0.86/pentect-linux-aarch64
	sha256sums_aarch64 = f7798ebfb54049a9e724539722aed62374eb4cac143116fc6a30521f8bd0a582

pkgname = pentect-bin
