[submodule "benchmarks/CredData"]
	path = benchmarks/CredData
	url = https://github.com/Samsung/CredData.git
[submodule "third_party/CredSweeper"]
	path = third_party/CredSweeper
	url = https://github.com/Samsung/CredSweeper.git
